<section>
    <div class="card">
        <div class="card-image">
            <div>
                <img *ngIf="pokemon.id_pokemon" onmousedown="return false" src="assets/pkmn/{{pokemon.id_pokemon}}.png">
                <i class="fa fa-circle-o-notch fa-spin" style="visibility: hidden;"></i>
            </div>
        </div>
        <div class="card-content">
            <h1 class="title has-text-centered">
                <span [hidden]="!isAnswerDisplayed"><span>{{pokemon.name[settingsService.getSettings().lang]}}</span> -
                    N°<span>{{pokemon.id_pokemon}}</span></span>
                <span [hidden]="isAnswerDisplayed">&nbsp;</span>
            </h1>
            <br />
            <div class="button-row">
                <div class="field has-addons">
                    <div class="control">
                        <form (ngSubmit)="check()">
                            <input class="input" type="text" placeholder="Nom du Pokémon" [value]="inputPokemon"
                                (change)="changeInputPokemon($event)" data-test-id="input-pkmn-name">
                            <p class="help" data-test-id="message-pkmn-name">
                                {{messageDisplayed.length > 0 ? messageDisplayed : '&nbsp;' }}</p>
                        </form>
                    </div>
                    <div class="control">
                        <button class="button  is-success is-outlined" (click)="check()" data-test-id="check-button">
                            <span class="icon">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </span>
                            <span>Check</span>
                        </button>
                    </div>
                </div>
                <button class="button is-primary" (click)="refresh()">
                    <span class="icon">
                        <fa-icon [icon]="faSync"></fa-icon>
                    </span>
                    <span>Refresh</span>
                </button>
                <button class="button is-info" (click)="response()">
                    <span class="icon">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </span>
                    <span>Answer</span>
                </button>
                <button class="button is-link" (click)="openModal()">
                    <span class="icon">
                        <fa-icon [icon]="faCog"></fa-icon>
                    </span>
                    <span>Settings</span>
                </button>
            </div>
        </div>
    </div>
</section>

<app-settings-modal *ngIf="isModalOpen" (onDismiss)="openModal()"></app-settings-modal>