app-main-page {
  display: flex;
  justify-content: center;
  min-height: 100%;
  .card {
    border: 3px solid white !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    .card-image {
      background-image: url("/../assets/bg.png"),
        linear-gradient(
          85deg,
          rgb(103, 197, 225) 0%,
          rgb(251, 253, 254) 19%,
          rgb(171, 222, 238) 46%,
          rgb(113, 185, 210) 56%,
          rgb(217, 16, 16) 65%,
          rgb(223, 27, 23) 100%
        );
      background-position: top top;
      background-repeat: no-repeat;
      margin: 0 auto;
      width: 960px;
      height: 540px;
      background-size: 960px 540px;
      min-height: 540px;
      > div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        margin-right: 15%;
        img {
          //   filter: brightness(0);
          //   transition: 0.5s;
          margin-left: 16%;
          z-index: 100;
          display: none;
          max-height: 520px;
          width: 275px;
          display: block;
        }
        app-poke-loader {
          margin: 0 250px;
        }
        i {
          position: absolute;
          font-size: 5em;
          color: #17a2b8;
          left: 250px;
          visibility: hidden;
          opacity: 0.3;
        }
      }
    }
    .card-content {
      h1 {
        // visibility: hidden;
        display: inline-block;
        width: 100%;
      }
      .button-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        > * {
          margin: 0 0.5em 0.5em;
        }
      }
      h2 {
        margin-bottom: 0.5rem;
      }
    }
  }

  @media screen and (max-width: 965px) {
    .card {
      overflow: hidden;
      max-width: 445px;
      .card-image {
        width: auto;
        > div {
          margin-right: 0;
          img {
            margin: 0 auto;
          }
          app-poke-loader {
            margin: 0 auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .card {
      width: 100vw;
      height: 100vh;
      border: 0 !important;
      border-radius: 0;
    }
  }
}
