@import "./app/main-page/main-page.component.scss";
@import "./app/component/settings-modal/settings-modal.component.scss";
body {
  background-color: #eeeef1;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(#7d1827 5%, red 48%, black 48%, black 51%, white 51%, #cadbd1 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
